<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
          name="IService1"
          address="http://localhost:8080/Wcf/Service1"
          binding="wsHttpBinding"
          behaviorConfiguration="ServiceTokenEndpointBehavior"
          contract="AuthenticationWebWcf.UsageExample.WebServiceExample.IService1" />
      <endpoint
          name="IService2"
          address="http://localhost:8081/Wcf/Service2"
          binding="wsHttpBinding"
          behaviorConfiguration="FixedTokenEndpointBehavior"
          contract="AuthenticationWebWcf.UsageExample.WebServiceExample.IService2" />
      <endpoint
          name="IService1Fixed"
          address="http://localhost:8080/Wcf/Service1"
          binding="wsHttpBinding"
          behaviorConfiguration="FixedTokenEndpointBehavior"
          contract="AuthenticationWebWcf.UsageExample.WebServiceExample.IService1" />
    </client>
    <services>
      <service
        name="AuthenticationWebWcf.UsageExample.WebServiceExample.Service1"
        behaviorConfiguration="ServiceTokenDispatchBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Wcf" />
          </baseAddresses>
        </host>
        <endpoint
          address="/Service1"
          binding="wsHttpBinding"
          contract="AuthenticationWebWcf.UsageExample.WebServiceExample.IService1"
        />
        <endpoint
           address="mex"
           binding="mexHttpBinding"
           contract="IMetadataExchange"
        />
      </service>
      <service
        name="AuthenticationWebWcf.UsageExample.WebServiceExample.Service2"
        behaviorConfiguration="ServiceTokenDispatchBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/Wcf" />
          </baseAddresses>
        </host>
        <endpoint
          address="/Service2"
          binding="wsHttpBinding"
          contract="AuthenticationWebWcf.UsageExample.WebServiceExample.IService2"
        />
        <endpoint
           address="mex"
           binding="mexHttpBinding"
           contract="IMetadataExchange"
        />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceTokenDispatchBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <ServiceTokenDispatchBehaviorExtension Key="1234" >
            <ReBindElementCollection>
              <add InterfaceType="AuthenticationWebWcf.Common.Interfaces.ITimeProvider, AuthenticationWebWcf.Common" ImplementationType="AuthenticationWebWcf.UsageExample.ImplementationOverrides.TimeProviderOverride, AuthenticationWebWcf.UsageExample" />
            </ReBindElementCollection>
          </ServiceTokenDispatchBehaviorExtension>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="FixedTokenEndpointBehavior">
          <FixedTokenEndpointBehaviorExtension Token="eyJ0eXAiOiJKV1QiLCJhbGciOiJIczUxMiJ9.eyJDbGllbnQiOiJDbGllbnQxIiwiR3VpZCI6IjAwMDAwMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAwMDAwMDAwMCIsIk5vbWJyZSI6Ik5hbWUxIiwiRmVjaGFFeHBpcmFjaW9uIjoiMjAxNy0wMS0wMVQwMDowMDowMCIsIlBlcm1pc29zIjpbIlJvbGUxIiwiUm9sZTIiXX0.q3DhpNiDks5SdCTvQGRlgHYK9BOrTdO_ZovA45poH_gFQE7M9Jg9SIjl-FDV1tngHsY_zpRk0u2W1Y4VFtO5wQ" >
            <ReBindElementCollection>
              <add InterfaceType="AuthenticationWebWcf.Common.Interfaces.ITimeProvider, AuthenticationWebWcf.Common" ImplementationType="AuthenticationWebWcf.UsageExample.ImplementationOverrides.TimeProviderOverride, AuthenticationWebWcf.UsageExample" />
            </ReBindElementCollection>
          </FixedTokenEndpointBehaviorExtension>
        </behavior>
        <behavior name="ServiceTokenEndpointBehavior">
          <ServiceTokenEndpointBehaviorExtension>
            <ReBindElementCollection>
              <add InterfaceType="AuthenticationWebWcf.Common.Interfaces.ITimeProvider, AuthenticationWebWcf.Common" ImplementationType="AuthenticationWebWcf.UsageExample.ImplementationOverrides.TimeProviderOverride, AuthenticationWebWcf.UsageExample" />
            </ReBindElementCollection>
          </ServiceTokenEndpointBehaviorExtension>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ServiceTokenDispatchBehaviorExtension" type="AuthenticationWebWcf.Service.Extensions.ServiceTokenDispatchBehaviorExtension, AuthenticationWebWcf.Service" />
        <add name ="FixedTokenEndpointBehaviorExtension" type="AuthenticationWebWcf.Service.Extensions.FixedTokenEndpointBehaviorExtension, AuthenticationWebWcf.Service"/>
        <add name ="ServiceTokenEndpointBehaviorExtension" type="AuthenticationWebWcf.Service.Extensions.ServiceTokenEndpointBehaviorExtension, AuthenticationWebWcf.Service"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>